body {
  background: url("../images/light-blue-background.jpg");
  background-repeat: repeat;
  background-size: 100%;
  text-align: center;
  font-family: Verdana, Times New Roman;

}
#alphabet-keypad {

}

.column {
  float:left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.letter-button {
  border-radius: 50%;
  display: inline-block;
  font-family: monospace;
  font-size: 1.6em;
  height: auto;
  margin: 0.2em 0.1em;
  padding: 5px 0;
  width: 1.6em;
  text-align: center;
  border: 1px solid #a3a3a3;

}

.letter-disabled {
  border-radius: 50%;
  display: inline-block;
  font-family: monospace;
  font-size: 1.6em;
  height: auto;
  margin: 0.2em 0.1em;
  padding: 5px 0;
  width: 1.6em;
  text-align: center;
  opacity: 0.3;
}

.photos > img {
  height:250px;
  width:150px;

}

.dashes {
  font-size: 36px;
}

h1 {
  margin-top: 50px;
}